.chatMessage {
  /* height:100%; */
  overflow-y: scroll
}

.desktop {
  display: none;
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 0.7rem 0;
  border-bottom: 1px solid rgba(164, 164, 164, 0.2);
  margin-top: 0.5rem;
}

.chat__header__left {
  display: flex;
  align-items: center;
}

.profile__info {
  margin-left: 1rem;
}

.profile__info > h1 {
  font-family: "Medium";
  font-weight: 800;
  font-size: 1.4rem;
}

.profile__info > h3 {
  font-family: "Light";
  font-weight: 700;
  margin-top: 0.1rem;
  font-size: 1rem;
}

.profile__picture {
  width: 4rem;
  height: 4rem;
}

.profile__picture > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.messages {
  margin: 2rem auto 6rem auto;
  overflow-y: scroll !important;
}

.message__input {
  position: fixed;
  bottom: 0rem;
  background: var(--message-input-background);
  height: 5rem;
  width: 100%;
}

.d-flex {
  display: flex;
  margin-top: 1.7rem;
}

.message__input__emoji {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.message__input input {
  margin-left: 0.6rem;
  height: 1.8rem;
  font-size: 1.3rem;
  font-family: "Light";
  font-weight: 800;
  padding: 0.6rem 0.2rem;
  border: none;
  background: transparent;
  outline: none;
}

.message__input input::placeholder {
  font-size: 1rem;
}

.message__input__icons {
  margin-left: 0.2rem;
  display: flex;
  align-items: center;
}

.message__input__icons img {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 0.2rem;
}

.send__icon {
  height: 2rem !important;
  width: 2rem !important;
  border-radius: 50%;
  padding: 0.3rem;
  background: var(--button-background) !important;
  margin-left: 0.9rem;
}

