.chatApp {
  position: relative;
  background: linear-gradient(#ffff, var(--background));
}

.desktop {
  display: none;
}

.chat {
  width: 90%;
  margin: auto;
  margin-bottom: 5.5rem;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.header__left {
  width: 50%;
  display: flex;
  align-items: center;
  color: var(--grey-button-black-color);
}

.header__profilePic {
  width: 30%;
}

.header__profilePic > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header__welcomeText {
  width: 30%;
  margin-left: 1rem;
}

.hi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hi > h1 {
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Light";
}

.welcome__pic {
  height: 50%;
  width: 50%;
  object-fit: cover;
  object-position: center;
}

.header__username {
  margin-top: -0.1rem;
  font-size: 1.1rem;
  font-family: "Black";
  font-weight: 800;
}

.search__desktop__view {
  display: none;
}


.header__right {
  display: flex;
  align-items: center;
}

.header__right__desktop {
  display: none;
}

.header__right > div {
  margin-right: 0.5rem;
}

.header__right div {
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--message-input-text);
  padding: 0.3rem;
  border-radius: 10px;
}

.header__right div img {
  width: 100%;
  height: 100%;
}

.header__notification {
  position: relative;
}

.header__notification::after {
  content: '';
  background: red;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  right: 0.1rem;
}



.stories {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}




/* @media screen and (min-width: 1200px) {
  .desktop {
    display: initial;
  }

  .mobile {
    display: none;
  }

  .stories,
  .App__menu {
    display: none;
  }

  .chatApp {
    background: #fff;
  }

  .search__desktop__view {
    display: initial;
  }

  .desktop {
    display: initial;
  }

  .header__right {
    display: none;
  }

  .header__right__desktop {
    display: initial;
  }

  .chat__header {
    margin: 1rem 0rem 2rem 0rem !important;
  }

  .header__left {
    width: 10%;
  }

  .header__profilePic {
    height: 3rem;
    width: 3rem;
  }

  .hi {
    width: 25%;
  }

  .hi > h1 {
    font-size: 1.1rem;
  }

  .hi > img {
    height: 1.5rem;
    width: 1.5rem;
  }

  .header__username {
    font-size: 1rem;
  }

  .search__desktop__view {
    width: 30%;
    margin: auto;
  }

  .search__input {
    width: 100%;
    height: 1.5rem;
    padding: 1rem 0.5rem;
    font-family: "Light";
    font-weight: 600;
    outline: none;
    border: 1px solid var(--grey-button-black-color);
  }

  .search__input::placeholder {
    font-family: "Light";
    font-weight: 700;
  }

  .search__span {
    position: relative;
  }

  .search__span > img {
    position: absolute;
    right: 0.5rem;
    height: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .header__right__desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
  }

  .chat__and__conversation {
    display: flex;
    height: calc(100vh - 6rem);
  }

  .chat__and__conversation > div {
    width: 25% !important;
    border: 1px solid rgba(164, 164, 164, 0.2);
  }

  .desktop__chat {
    width: 75%;
    margin-left: 1.5rem;
    border: 1px solid rgba(164, 164, 164, 0.2);
  }

  .desktop__chat__header {
    width: 100%;
    margin-bottom: 3rem;
    border: 1px solid rgba(164, 164, 164, 0.2);
    padding: 0.8rem;
  }

  .profile__picture {
    height: 4rem;
    width: 4rem;
  }

  .profile__picture > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  .desktop__chat__left {
    display: flex;
    width: 30%;
    align-items: center;
  }

  .profile__info {
    margin-left: 0.8rem;
  }

  .profile__info > h1 {
    font-size: 1.1rem;
    font-family: "Medium";
    font-weight: 800;
  }

  .profile__info > h3 {
    font-family: "Light";
    font-weight: 700;
    margin-top: 0.2rem;
  }

  .message__input {
    position: fixed;
    bottom: 7rem;
    height: 3rem;
    border: 1px solid var(--message-input-text);
    width: 30%;
    margin-left: 15rem;
    margin-right: 15rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.7rem;
  }

  .message__input__emoji {
    height: 1.5rem;
    width: 1.5rem;
  }

  .message__input input {
    margin-left: 0.3rem;
    padding: 0.5rem;
    height: 1.8rem;
    font-family: "Light";
    font-weight: 600;
    outline: none;
    border: none;
    width: 11rem;
  }

  .message__input__icons {
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }

  .message__input__icons img {
    margin-left: 1rem;
  }

  .send__icon {
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    padding: 0.4rem;
    background: var(--button-background) !important;
  }
} */
