.chatApp {
  position: relative;
  background: linear-gradient(#ffff, var(--background));
  height: 100vh
}

.desktop {
  display: none;
}

.chat {
  width: 90%;
  margin: auto;
  margin-bottom: 5.5rem;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
}

.header__left {
  width: 50%;
  display: flex;
  align-items: center;
  color: var(--grey-button-black-color);
}

.header__profilePic {
  width: 30%;
}

.header__profilePic > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header__welcomeText {
  width: 30%;
  margin-left: 1rem;
}

.hi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hi > h1 {
  font-size: 1.25rem;
  font-weight: 800;
  font-family: "Light";
}

.welcome__pic {
  height: 50%;
  width: 50%;
  object-fit: cover;
  object-position: center;
}

.header__username {
  margin-top: -0.1rem;
  font-size: 1.1rem;
  font-family: "Black";
  font-weight: 800;
}

.search__desktop__view {
  display: none;
}


.header__right {
  display: flex;
  align-items: center;
}

.header__right__desktop {
  display: none;
}

.header__right > div {
  margin-right: 0.5rem;
}

.header__right div {
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--message-input-text);
  padding: 0.3rem;
  border-radius: 10px;
}

.header__right div img {
  width: 100%;
  height: 100%;
}

.header__notification {
  position: relative;
}

.header__notification::after {
  content: '';
  background: red;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  right: 0.1rem;
}



.stories {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
}
