.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 5rem;
  background: rgb(255, 254, 254);
  padding: 0.1rem 0.6rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.menu__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  margin: 1.2rem auto auto auto;
}

.menu__box img {
  height: 2.2rem;
  width: 2.2rem;
}
