.message__and__time {
  display: inline-block;
  width: 100%;
}

.message__block { 
  display: flex;
  align-items:center;
  margin: 0rem 0.5rem;
  float: left;
}

.sender {
  float: right;
  margin-top:1rem;
}

.message {
  background: var(--message-grey-background);
  min-width: 7rem;
  max-width: 13rem;
  padding: 1rem 0.7rem;
  margin: .6rem 0rem; /* check again*/
  border-radius: 18px;
  border-bottom-left-radius: 0px;
}


.sender__message {
  background: var(--button-background);
}

.message > h2 {
  word-break: break-all;
  font-family: "Light";
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: var(--green-text-color);
  line-height: 1.3rem;
}

.sender__message > h2 {
  color: var(--background);
}

.message__time {
  color: var(--time-seen);
  font-size: 0.8rem;
  font-family: "Light";
  font-weight: 700;
  margin-left: 0.5rem;
}

.no__messages__text {
  text-align:center;
}

@media screen and (min-width: 1200px) {

  .message__and__time {
    display: inline-block;
    width: 100%;
  }

  .message__block {
    width: auto;
    max-width:  25rem;
    margin: 0rem 1rem;
  }

  .sender__time {
    margin-right: 1rem;
  }
}
